openapi: 3.0.0
info:
  title: Word to Number API
  version: 1.0.0
  description: Converts English words to numbers. Supports numbers up to billions.

servers:
  - url: https://word-to-number.akaalroop.com

paths:
  /:
    post:
      summary: Convert word(s) to number(s)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                word:
                  type: string
                  example: twenty-five million
                word-1:
                  type: string
                  example: seventeen thousand three hundred and ninety-nine
                word-2:
                  type: string
                  example: one hundred and ninety-three
      responses:
        '200':
          description: Successful conversion
          content:
            application/json:
              schema:
                type: object
                properties:
                  number:
                    type: integer
                    example: 25000000
                  number-1:
                    type: integer
                    example: 17399
                  number-2:
                    type: integer
                    example: 193
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                      - 400 Bad Request
                  message:
                    type: string
                    enum:
                      - "A typo in '{word}' was detected. If there is no typo, the number may be unsupported by this API. Additionally, you may want to check my README at https://github.com/spacexplorer11/word-to-number/blob/main/README.md#Usage for more details."
                      - "The headers or body had a non-UTF-8 byte. Additionally, you may want to check my README at https://github.com/spacexplorer11/word-to-number/blob/main/README.md#Usage for more details."
                      - "The content length header was 0 which is unacceptable. Additionally, you may want to check my README at https://github.com/spacexplorer11/word-to-number/blob/main/README.md#Usage for more details."
                      - "The content length header was malformed. Additionally, you may want to check my README at https://github.com/spacexplorer11/word-to-number/blob/main/README.md#Usage for more details."
                      - "The body was malformed. Please make sure it is valid JSON and formatted to the requirements listed in my README here: https://github.com/spacexplorer11/word-to-number/blob/main/README.md#Usage"
        '408':
          description: Timeout
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                      - 408 Timeout
                  message:
                    type: string
                    enum:
                      - "Please check my README at https://github.com/spacexplorer11/word-to-number/blob/main/README.md#Usage for more details."
        '411':
          description: Length Required
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                      - 411 Length Required
                  message:
                    type: string
                    enum:
                      - "Please provide a Content-Length header. Additionally, check my README at https://github.com/spacexplorer11/word-to-number/blob/main/README.md#Usage for more details."
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                      - 500 Internal Server Error
                  message:
                    type: string
                    enum:
                      - "Please try again later. Additionally, check my README at https://github.com/spacexplorer11/word-to-number/blob/main/README.md#Usage for more details."