openapi: 3.0.0
info:
  title: Word to Number API
  version: 0.1.0
  description: Converts English words to numbers. Only supports integers up to 999 at the moment (will change very soon).

servers:
  - url: https://word-to-number.akaalroop.com

paths:
  /:
    post:
      summary: Convert word(s) to number(s)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                word:
                  type: string
                  example: thirty
                word-2:
                  type: string
                  example: ninety-nine
                word-3:
                  type: string
                  example: one hundred and ninety-three
      responses:
        '200':
          description: Successful conversion
          content:
            application/json:
              schema:
                type: object
                properties:
                  number:
                    type: integer
                    example: 30
                  number-1:
                    type: integer
                    example: 99
                  number-2:
                    type: integer
                    example: 193
        '400':
          description: Invalid word supplied
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                    - "You received an error. Please check my README at https://github.com/spacexplorer11/word-to-number/blob/main/README.md for more details."
        '408':
          description: Request timed out
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                    - "You received an error. Please check my README at https://github.com/spacexplorer11/word-to-number/blob/main/README.md for more details."
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                    - "You received an error. Please check my README at https://github.com/spacexplorer11/word-to-number/blob/main/README.md for more details."